version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    expose:
      - "8080"
    read_only: true
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    tmpfs:
      - /var/cache/nginx:mode=1777
      - /var/run:mode=1777
      - /var/log/nginx:mode=1777
    networks:
      - app-network

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
